{% extends 'base/dashboard.html'%}
{% block content %}	
	<div class="container">
      	<div id="ll1" class="col s12">
            <form method="POST" enctype="multipart/form-data">
               {% from "_macroInputs.html" import render_field %}
               <p style="text-align: center; font-size: 25px;"> LL(1) Syntactic Analysis </p>
               <div class="row">
	               	<div class="input-field col s6">
	               		{{ render_field(ll1.grammar) }}
	               	</div>
	               	<div class="input-field col s6">
	               		{{ render_field(ll1.string) }}
	               	</div>
       			</div>

       			<div class="row">
	               	<div class="col s6">
	               		<input type="file" name="fileGrammar">
	               	</div>
	               	<div class="col s6">
	               		<input type="file" name="fileString">
	               	</div>
       			</div>

       			<div class="row center">
	               <button type="submit" class="waves-effect waves-light #0288d1 light-blue darken-2 btn-large"><i class="material-icons right">text_rotation_none</i>Analyze</button>
	           </div>
            </form>
		</div>
	</div>

	<div id=messages>
 		{% with messages = get_flashed_messages() %}
  		{% if messages %}
    		<ul class=flashes>
    		{% for message in messages %}
      			<li>{{ message }}</li>
    		{% endfor %}
			</ul>
			<div class="msg msg-info z-depth-3">Analizando</div>
  		{% endif %}
		{% endwith %} 
	</div>

	<div id="principal" class="container">
	  	<br><br>
	   	<div id="showTable">
	       	{% if grammar %}
	         	<script type="text/javascript">
	          		document.getElementById('convertToAFD').style.display = "none";
	           	</script>
	           	<br>
	           	<p style="text-align: center; font-size: 25px;"> Table of the Grammar</p>
	           	<br> <br>
	           	<table class="striped">
	           		<tbody>
	               		{% for rule in grammar %}
	                		<tr>
								<td> {{ rule.symbol }} </td>
								<td>{{ rule.getNext().getSymbol() }}</td>
	                    	</tr>
	                  	{% endfor %}
	               	</tbody>
	            </table>
	        {% endif %}
	    </div>
	</div>
{% endblock %}
