{% extends 'base/dashboard.html'%}
{% block content %}	
	<script>
		{% if msg == 1 %}
			M.toast({
				html: 'Grammar is compatible with LL(1) analysis',
				classes: 'green',
				displayLength: 5000
			})

			{% if msgS == 1 %}
				M.toast({
					html: 'String belongs to the grammar',
					classes: 'green',
					displayLength: 5000
				})
			{% elif msgS == 2 %}
				M.toast({
					html: "String doesn't belong to the grammar",
					classes: 'red',
					displayLength: 5000
				});
			{% endif %}
		{% elif msg == 2 %}
			M.toast({
				html: "Grammar is not compatible with LL(1) analysis",
				classes: 'red',
				displayLength: 5000
			})
		{% elif msg == 3 %}
			M.toast({
				html: 'Input grammar is invalid',
				classes: 'red',
				displayLength: 5000
			})
		{% elif msg == 4 %}
			M.toast({
				html: "The grammar has a left recursion. Can't do LL(1) analysis.",
				classes: 'red',
				displayLength: 5000
			})
		{% endif %}
	</script>

	<div class="container">
      	<div id="ll1" class="col s12">
            <form method="POST" enctype="multipart/form-data">
               {% from "_macroInputs.html" import render_field %}
               <p style="text-align: center; font-size: 25px;"> LL(1) Syntactic Analysis </p>
               <div class="row">
	               	<div class="input-field col s6">
	               		{{ render_field(ll1.grammar) }}
	               	</div>
	               	<div class="input-field col s6">
	               		{{ render_field(ll1.string) }}
	               	</div>
       			</div>

       			<div class="row">
	               	<div class="col s6">
	               		<input type="file" name="fileGrammar">
	               	</div>
	               	<div class="col s6">
	               		<input type="file" name="fileString">
	               	</div>
       			</div>

       			<div class="row center">
	               <button type="submit" class="waves-effect waves-light #0288d1 light-blue darken-2 btn-large"><i class="material-icons right">text_rotation_none</i>Analyze</button>
	           </div>
            </form>
		</div>
	</div>

	<div id="grammarTable" class="container">
	   	<div id="showGrammarTable" class ="row">
	       	{% if grammar %}
	           	<p style="text-align: center; font-size: 25px;"> Grammar Table </p>
	           	<div class="row">
		           	<table class="striped centered responsive-table highlight">
		           		<tbody>
		               		{% for rule in grammar %}
		                		<tr>
									{% for r in rule.getRule() %}
										<td> {{r}} </td>
									{% endfor %}
		                    	</tr>
		                  	{% endfor %}
		               	</tbody>
		            </table>
		        </div>
	        {% endif %}
	    </div>
	</div>

	<div id="ll1Table" class="container">
		<div id="showLL1Table" class="row">
		   {% if relationsTable %}
		 	 	<p style="text-align: center; font-size: 25px;"> Rules Relation Table</p>
	   			<div class="row">
			  		<table class="striped centered responsive-table highlight">
						<thead class="#0288d1 light-blue darken-2">
							<tr>		
								{% for row in relationsTable[0] %}
							  		<th class="white-text">{{ row }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for row in relationsTable %}
								{% if loop.index > 1 %}
									<tr>
										{% for r in row %}
											<td>
											{% if r != 0 %}
												<b>{{ r }}</b>
											{% else %}
												{{ r }}
											{% endif %}
											</td>
										{% endfor %}	
									</tr>
								{% endif %}				   
							{% endfor %}
						 </tbody>
			  		</table>
		   		</div>
		   {% endif %}
		</div>
	</div>

	<div id="analysisTable" class="container">
		<div id="showAnalysisTable" class="row">
		   {% if analysisTable %}
				<p style="text-align: center; font-size: 25px;">LL(1) Analysis Table</p>

			   	<div class="row">
					<table class="striped centered responsive-table highlight">
						<thead class="#0288d1 light-blue darken-2">
							<tr>		
								{% for row in analysisTable[0] %}
							  		<th class="white-text">{{ row }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>

							{% for row in analysisTable %}
								{% if loop.index > 1 %}
									<tr>
										{% for r in row %}
											<td>{{ r }}</td>
										{% endfor %}	
									</tr>
								{% endif %}
							{% endfor %}	
					 	</tbody>
				  </table>
			   	</div>
		   {% endif %}
		</div>
	</div>
{% endblock %}