{% extends 'base/dashboard.html'%}
{% block content %}	
	<div class="container">
      <div id="ll1" class="col s12">
         <div class="row">
            <form method="POST">
               {% from "_macroInputs.html" import render_field %}
               <p style="text-align: center; font-size: 25px;"> LL(1) Syntactic Analysis </p>
               <div class="input-field  col s6">
                  {{ render_field(add.symbol) }}
               </div>
               <div class="col s6">

                  Aquí va lo de la llave 
               </div>
            </form>
         </div>
      </div>
   </div>

   <div id="principal" class="container">
      <br><br>
      <div id="showTable">
         {% if afd %}
            <script type="text/javascript">
               document.getElementById('convertToAFD').style.display = "none";
            </script>
            <br>
            <p style="text-align: center; font-size: 25px;"> Table of the AFD</p>
            <br> <br>
            <table class="striped">
               <thead>
                  <tr>
                     <th>Id</th>
                     {% for a in afd.getAlphabet() %}
                        <th>{{ a }}</th>
                     {% endfor %}
                     <th> Token </th> 
                  </tr>
               </thead>
               <tbody>
                  {% for i in afdTable %}
                     <tr>
                        <td> {{ loop.index - 1 }} </td>
                        {% for j in i %}
                           <td>{{ j }}</td>
                        {% endfor %}
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         {% endif %}
      </div>
   </div>
{% endblock %}