{% extends 'base/dashboard.html'%}
{% block content %}
	<script>
		{% if msg == 1 %}
			M.toast({
				html: 'DFA created successfully.',
				classes: 'green',
				displayLength: 5000
			})
		{% elif msg == 2 %}
			M.toast({
				html: 'Error with Regex.',
				classes: 'red',
				displayLength: 5000
			})
		{% endif %}

		$(document).ready(function(){
			{% if dfaER %}
				var nodesList = [];
		        var edgesList = [];
		        var state = 0;
		        {% for row in dfaER.getTable() %}
		            
		        	var border = 0;
		            var countNext = 1;
		            var rowLength = '{{row|length}}';

		            {% for next in row %}
		            	{% if next != -1 %}
		            		if(countNext != rowLength){
		            			
		            			var i = 0;
		            			var symbol = "";
		            			{% for a in dfaER.getAlphabet() %}
		            				if(i == countNext - 1){
		            					symbol = '{{a}}';
		            				}
		            				i++;
		            			{% endfor %}

					            edgesList.push({
				                    from: state,
				                    to: '{{next}}',
				                    label: symbol,
				                    arrows: {
				                        to : {
				                            enabled: true,
				                            type: 'arrow'
				                        }
				                    },
				               	});
			               	}
			               	else {
			               		border = 6;
			               	}
			            {% endif %}
			            countNext++;
		            {% endfor %}

		            if(state == 0){
		            	border = 2;
		            }

		            nodesList.push({
		                id: state,
		                shape: 'circle',
		                borderWidth: border,
		                label: 'State\n' + state
		            });

		            state++;
		        {% endfor %}

		        var nodes = new vis.DataSet(nodesList);
		        var edges = new vis.DataSet(edgesList);

		        var container = $('#mynetwork_dfa')[0]; 

		        var data = {
		            nodes: nodes,
		            edges: edges
		        };

		        var network = new vis.Network(container, data, {});
			{% endif %}
		});
	</script>

	<div class="container">
      	<div id="nfa" class="col s12">
            <form method="POST" enctype="multipart/form-data">
               {% from "_macroInputs.html" import render_field %}
               <p style="text-align: center; font-size: 25px;"> NFA Parsing </p>

               <div class="row file-field">
	               	<div class="offset-m1 input-field col m6 s12">
	               		{{ render_field(nfaF.regularExpressions) }}
	               	</div>
	               	<div class="col">
	               		<button type="submit" class="waves-effect waves-light light-blue darken-2 btn-large"><i class="material-icons right">text_rotation_none</i>Analyze</button>
	               	</div>
	               	<div class="col">
	               		<button class="waves-effect waves-light btn-large">
		                    <i class="material-icons right">attach_file</i>
		                    <input type = "file" id="loadER" accept="text/plain"/>
	                  	</button>
	               	</div>
	            </div>
	            <div class="row center">
	               	<!-- MODAL -->
	               	<a class="waves-effect waves-light btn-large modal-trigger pulse" href="#modal1">IMPORTANT</a>
	           </div>
            </form>
      	</div>
	</div>

	<div class="row offset-s3">
		{% if dfaER %}
			<p style="text-align: center; font-size: 25px;">DFA Id: {{ dfaER.getId() }} Nodes Form</p>
	        <div id="mynetwork_dfa"></div>
        {% endif %}
    </div>
	
	<div id="principal" class="container">
		<div id="showTable" class="row">
		   {% if dfaER %}
		  		<p style="text-align: center; font-size: 25px;">DFA Id: {{ dfaER.getId() }} Tabular Form</p>

	   			<div class="row">
			  		<table class="striped centered responsive-table">
				 		<thead class="light-blue darken-2">
							<tr>
					   			<th class="white-text">State</th>
  
					   			{% for a in dfaER.getAlphabet() %}
						  			<th class="white-text">{{ a }}</th>
					   			{% endfor %}
					   			<th class="white-text">Token</th> 
							</tr>
				 		</thead>
				 		<tbody>
							{% for i in dfaER.getTable() %}
					   			<tr>
						  			<td><b> {{ loop.index - 1 }} </b></td>
					  				{% for j in i %}
					  					{% if j != -1 %}
							 				<td><b>{{ j }}</b></td>
							 			{% else %}
							 				<td>{{ j }}</td>
							 			{% endif %}
						  			{% endfor %}
					   			</tr>
							{% endfor %}
				 		</tbody>
			  		</table>
		   		</div>
		   {% endif %}
		</div>
	</div>

	<!-- Modal Structure -->
	<div id="modal1" class="modal">
	    <div class="modal-content">
	      <h4>REGEX AND TOKEN'S FORMAT</h4>
	      <p>A bunch of text</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
	    </div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
	    $('.modal').modal();
	  });
	</script>
{% endblock %}