{% extends 'base/dashboard.html'%}
{% block content %}	
	<div class="container">
      	<div id="nfa" class="col s12">
            <form method="POST" enctype="multipart/form-data">
               {% from "_macroInputs.html" import render_field %}
               <p style="text-align: center; font-size: 25px;"> NFA Analysis </p>
               <div class="row">
	               	<div class="input-field col s7">
	               		{{ render_field(nfaF.pattern) }}
	               	</div>
	               	<!--<div class="input-field col s6">
	               		{{ render_field(nfaF.token) }}
	               	</div>-->
       			</div>

       			<div class="row">
	               	<div class="col s6">
	               		<input type="file" name="fileGrammar">
	               	</div>
       			</div>

       			<div class="row center">
	               <button type="submit" class="waves-effect waves-light #0288d1 light-blue darken-2 btn-large"><i class="material-icons right">text_rotation_none</i>Analyze</button>
	           </div>
            </form>
      	</div>
	</div>
	<div id="principal" class="container">
			<div id="showTable" class="row">
			   {% if afdER %}
				  <script type="text/javascript">
					 document.getElementById('ConvertToDFA').style.display = "none";
				  </script>
	  
				  <p style="text-align: center; font-size: 25px;">DFA Id: {{ afdER.getId() }} Table</p>
			   </div>
			   <div class="row">
				  <table class="striped centered responsive-table">
					 <thead class="#0288d1 light-blue darken-2">
						<tr>
						   <th class="white-text">State</th>
	  
						   {% for a in afdER.getAlphabet() %}
							  <th class="white-text">{{ a }}</th>
						   {% endfor %}
						   <th class="white-text">Token</th> 
						</tr>
					 </thead>
					 <tbody>
						{% for i in afdER.getTable() %}
						   <tr>
							  <td> {{ loop.index - 1 }} </td>
							  {% for j in i %}
								 <td>{{ j }}</td>
							  {% endfor %}
						   </tr>
						{% endfor %}
					 </tbody>
				  </table>
			   </div>
			   {% endif %}
			</div>
		 </div>
{% endblock %}