{% extends 'base/dashboard.html'%}
{% block content %}
	<script>
		{% if msg == 1 %}
			M.toast({
				html: 'DFA created successfully',
				classes: 'green',
				displayLength: 5000
			})
		{% elif msg == 2 %}
			M.toast({
				html: 'Error with Regex',
				classes: 'red',
				displayLength: 5000
			})
		{% endif %}
	</script>

	<div class="container">
      	<div id="nfa" class="col s12">
            <form method="POST" enctype="multipart/form-data">
               {% from "_macroInputs.html" import render_field %}
               <p style="text-align: center; font-size: 25px;"> NFA Syntactic Analysis </p>

               <div class="row">
	               	<div class="offset-s1 input-field col s7">
	               		{{ render_field(nfaF.regularExpressions) }}
	               	</div>
	               	<div class="col">
	               		<button type="submit" class="waves-effect waves-light #0288d1 light-blue darken-2 btn-large"><i class="material-icons right">text_rotation_none</i>Analyze</button>
	               	</div>
	               	<div class="col">
	               		<a class="waves-effect waves-light btn-large"><i class="material-icons right">attach_file</i></a>
	               	</div>
	            </div>
	            <div class="row center">
	               	<!-- MODAL -->
	               	<a class="waves-effect waves-light btn-large modal-trigger pulse" href="#modal1">IMPORTANT</a>
	           </div>
            </form>
      	</div>
	</div>
	
	<!-- Aqui falta dibujar el DFA con vis.js-->

	<div id="principal" class="container">
		<div id="showTable" class="row">
		   {% if dfaER %}
		  		<p style="text-align: center; font-size: 25px;">DFA Id: {{ dfaER.getId() }} Tabular Form</p>

	   			<div class="row">
			  		<table class="striped centered responsive-table">
				 		<thead class="#0288d1 light-blue darken-2">
							<tr>
					   			<th class="white-text">State</th>
  
					   			{% for a in dfaER.getAlphabet() %}
						  			<th class="white-text">{{ a }}</th>
					   			{% endfor %}
					   			<th class="white-text">Token</th> 
							</tr>
				 		</thead>
				 		<tbody>
							{% for i in dfaER.getTable() %}
					   			<tr>
						  			<td><b> {{ loop.index - 1 }} </b></td>
					  				{% for j in i %}
					  					{% if j != -1 %}
							 				<td><b>{{ j }}</b></td>
							 			{% else %}
							 				<td>{{ j }}</td>
							 			{% endif %}
						  			{% endfor %}
					   			</tr>
							{% endfor %}
				 		</tbody>
			  		</table>
		   		</div>
		   {% endif %}
		</div>
	</div>
	<!-- Modal Structure -->
	<div id="modal1" class="modal">
	    <div class="modal-content">
	      <h4>REGEX AND TOKEN'S FORMAT</h4>
	      <p>A bunch of text</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
	    </div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
	    $('.modal').modal();
	  });
	</script>
{% endblock %}