{% extends 'base/dashboard.html'%}
{% block content %}	

	<div class="container">
		<div id="convertToAFD" class="col s12">
         <div class="col s12">
            <div class="row">
               <form method="POST">
                  <input type="hidden" id="optToAFD" name="option">
                  <p style="text-align: center; font-size: 25px;"> Convert to DFA </p>
                  <div class="input-field col s9">
                     <select name="afn1">
                        <option value="12" disabled selected>Choose 1st</option>
                        {% if idAfn %}
                           {% for afn in idAfn.values() %}
                              {% if afn > 0 %}
                                 <option value="{{ afn }}"> {{ afn }} </option>
                              {% endif %}
                           {% endfor %}
                        {% endif %}
                     </select>
                  </div>
                  <div class="input-field col s3">
                     <button onclick="document.getElementById('optToAFD').value = 7; " class="waves-effect waves-light #4fc3f7 light-blue lighten-2 btn-large"></i>To DFA</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
	</div>

   <div id="principal" class="container">
      <br><br>
      <div id="showTable">
         {% if afd %}
            <script type="text/javascript">
               document.getElementById('convertToAFD').style.display = "none";
            </script>
            <br>
            <p style="text-align: center; font-size: 25px;"> Table of the AFD</p>
            <br> <br>
            <table class="striped">
               <thead>
                  <tr>
                     <th>Id</th>
                     {% for a in afd.getAlphabet() %}
                        <th>{{ a }}</th>
                     {% endfor %}
                     <th> Token </th> 
                  </tr>
               </thead>
               <tbody>
                  {% for i in afdTable %}
                     <tr>
                        <td> {{ loop.index - 1 }} </td>
                        {% for j in i %}
                           <td>{{ j }}</td>
                        {% endfor %}
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         {% endif %}
      </div>
   </div>
{% endblock %}