{% extends 'base/dashboard.html'%}
{% block content %}	

	<div class="container">
		<div id="*Closure" class="col s12">
         <div class="col s12">
            <div class="row">
               <form method="POST">
                  <input type="hidden" id="opt*" name="option">
                  <p style="font-family: 'Lobster', cursive; text-align: center; font-size: 25px;"> * Closure </p>
                  <div class="input-field col s9">
                     <select name="afn1">
                        <option value="12" disabled selected>Choose 1st</option>
                        {% if idAfn %}
                           {% for afn in idAfn.values() %}
                              {% if afn > 0 %}
                                 <option value="{{ afn }}"> {{ afn }} </option>
                              {% endif %}
                           {% endfor %}
                        {% endif %}
                     </select>
                  </div>
                  <div class="input-field col s3">
                     <button onclick="document.getElementById('opt*').value = 4" class="waves-effect waves-light #29b6f6 light-blue lighten-1 btn-large"><i class="material-icons left">stars</i>Closure</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
	</div>
   <script>
      $(document).ready(function() {
         $('select').material_select();
      });
   </script>
{% endblock %}