<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vis-network.min.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"/></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vis.min.js') }}"></script>
	<script>
	  $(document).ready(function(){
	  	$('.modal').modal();
	  	$('.sidenav').sidenav();
	  	$('#grammar').addClass('materialize-textarea');
	  	$('#grammar').addClass('expand');
	 	$('#regularExpressions').addClass('materialize-textarea');
     	$('select').formSelect();
	 	$('.dropdown-trigger').dropdown();
	 	$('select').not('.disabled').formSelect();


	 	$('#loadER').on('change', function() {
			var fileToUpload = event.target.files[0];

			var reader = new FileReader();
			reader.onload = function(fileLoadedEvent) {
				var text = fileLoadedEvent.target.result;
				$('#regularExpressions').val(text);
			}
			reader.readAsText(fileToUpload, 'UTF-8');

			$('#regularExpressions').focus();
			$('#regularExpressions').animate({ height: "12em" }, 500); 

			M.toast({
				html: event.target.files[0].name + ' uploaded as Regex',
				classes: 'green',
				displayLength: 4000
			})
        });

	 	$('#loadGrammar').on('change', function() {
			var fileToUpload = event.target.files[0];
			console.log(fileToUpload);

			var reader = new FileReader();
			reader.onload = function(fileLoadedEvent) {
				var text = fileLoadedEvent.target.result;
				$('#grammar').val(text);
			}
			reader.readAsText(fileToUpload, 'UTF-8');

			$('#grammar').focus();
			$('#grammar').animate({ height: "14em" }, 500); 

			M.toast({
				html: event.target.files[0].name + ' uploaded as grammar',
				classes: 'green',
				displayLength: 4000
			})
        });

        $('#loadString').on('change', function() {
			var fileToUpload = event.target.files[0];

			var reader = new FileReader();
			reader.onload = function(fileLoadedEvent) {
				var text = fileLoadedEvent.target.result;
				$('#string').val(text);
			}
			reader.readAsText(fileToUpload, 'UTF-8');

			$('#string').focus();
			M.toast({
				html: event.target.files[0].name + ' uploaded as string',
				classes: 'green',
				displayLength: 4000
			})
        });

		{% if nfa %}
	        var nodesList = [];
	        var edgesList = [];
	        {% for e in nfa.getStates() %}
	            var border = 0;
	            {% if (e.getId() == nfa.getStart().getId()) %}
	                border = 2;
	            {% else %}
	            	{% for s in nfa.getAccepts() %}
	            		{% if (e.getId() == s.getId()) %}
	            			border = 6;
	            		{% endif %}
	            	{% endfor %}
	            {% endif %}

	            nodesList.push({
	                id: '{{e.getId()}}',
	                shape: 'circle',
	                borderWidth: border,
	                label: 'State\n{{e.getId()}}'
	            });

	            {% for t in e.getTransitions() %}
	                var symbol = "";
	                {% if t.getEndSymbol() != None %}
	                    symbol = '{{t.getSymbol()}} - {{t.getEndSymbol()}}';
	                {% else %}
	                    symbol = '{{t.getSymbol()}}';
	                {% endif %}
	                
	                edgesList.push({
	                    from: '{{e.getId()}}',
	                    to: '{{t.getNext().getId()}}',
	                    label: symbol,
	                    arrows: {
	                        to : {
	                            enabled: true,
	                            type: 'arrow'
	                        }
	                    },
	                });
	                
	            {% endfor %}
	        {% endfor %}

	        var nodes = new vis.DataSet(nodesList);
	        var edges = new vis.DataSet(edgesList);

	        var container = $('#mynetwork')[0]; 

	        var data = {
	            nodes: nodes,
	            edges: edges
	        };

	        var network = new vis.Network(container, data, {});
	    {% endif %}
	  });
	</script>
	<title>Compiler</title>
</head>
<body> 
	{% block navbar %}
		{% include '/base/navbar.html' %}
	{% endblock %} 
  	{% block content %}
  	{% endblock %}

  	<!-- Modal Structure -->
	<div id="modalGrammar" class="modal  modal-fixed-footer">
	    <div class="modal-content">
	      	<h4>Grammar's Format</h4>
	      	<p>1.- You have to enter a grammar as shown in the next pictures:</p>
	      	<center>
				<img class="responsive-img" src="./../static/imgs/grammarExample.PNG">
				<img class="responsive-img" src="./../static/imgs/grammarExample2.PNG">
			</center>
			<p>2.- As you can see, first you have to write <b>the symbol of the left side of the rule</b>, followed by an <b>arrow -></b>, and then <b>symbols of the righ side</b>, each one of them separated by a <b>space</b> (if you want to enter a entire word, for example, just enter it without spaces).</p>

			<p>3.- When a rule is over, you have to write a <b>semicolon ;</b> to indicate the end of this rule, then go to the next line and continue with the rest of the rules.</p>

			<p>4.- If you want to use an OR instruction, you have to write a <b>|</b> character without spaces between the symbols' list of the right side of each rule.</p>

			<p>5.- If you want to use epsilon, null or empty, you have to write the entire word <b>epsilon</b>.</p>

			<p>6.- You can use both lowercase and uppercase letters, numbers and symbols (except for the reserved ones explained before) such as: + - * / = ^ ( ) , . ? ' _ </p>

			<p>7.- The strings doesn't have format, you can write anything and the parser will tell you if that belongs to the grammar.</p>

			<p>8.- You can upload your own grammar and string text files you wish by clicking on the buttons with the paperclip icon in each input; they have to have all the format rules explained before.</p>

	    </div>
	    <div class="modal-footer">
      		<a href="#!" class="modal-close waves-effect waves-light btn">Got it</a>
	    </div>
	</div>
</body>   
</html>