{% extends 'base/dashboard.html'%}
{% block content %}
	<script>
		$(document).ready(function(){
			{% if dfa %}
				var nodesList = [];
		        var edgesList = [];
		        var state = 0;
		        {% for row in dfa.getTable() %}
		            
		        	var border = 0;
		            var countNext = 1;
		            var rowLength = '{{row|length}}';

		            {% for next in row %}
		            	{% if next != -1 %}
		            		if(countNext != rowLength){
		            			
		            			var i = 0;
		            			var symbol = "";
		            			{% for a in dfa.getAlphabet() %}
		            				if(i == countNext - 1){
		            					symbol = '{{a}}';
		            				}
		            				i++;
		            			{% endfor %}

					            edgesList.push({
				                    from: state,
				                    to: '{{next}}',
				                    label: symbol,
				                    arrows: {
				                        to : {
				                            enabled: true,
				                            type: 'arrow'
				                        }
				                    },
				               	});
			               	}
			               	else {
			               		border = 6;
			               	}
			            {% endif %}
			            countNext++;
		            {% endfor %}

		            if(state == 0){
		            	border = 2;
		            }

		            nodesList.push({
		                id: state,
		                shape: 'circle',
		                borderWidth: border,
		                label: 'State\n' + state
		            });

		            state++;
		        {% endfor %}

		        var nodes = new vis.DataSet(nodesList);
		        var edges = new vis.DataSet(edgesList);

		        var container = $('#mynetwork_dfa')[0]; 

		        var data = {
		            nodes: nodes,
		            edges: edges
		        };

		        var network = new vis.Network(container, data, {});
			{% endif %}
		});
	</script>

	<div class="container">
		<!-- ConvertToDFA -->
		 <div id="ConvertToDFA" class="col s12">
		   <div class="row file-field">
			  <form method="POST">
			  <p style="text-align: center; font-size: 25px;"> Convert NFA To DFA </p>
			  <div class="input-field col m8 s7 offset-m1">
				 <select name="nfa">
					<option disabled selected>Choose 1st</option>
					{% if nfaDictionary %}
					   {% for id, nfa in nfaDictionary.items() %}
						  {% if id > 0 %}
							 <option value="{{ id }}"> {{ id }} </option>
						  {% endif %}
					   {% endfor %}
					{% endif %}
				 </select>
			  </div>
			  <div class="input-field col m3 s5">
				 <button type="submit" class="waves-effect waves-light #0288d1 light-blue darken-2 btn-large"></i>To DFA</a>
			  </div>
		   </form>
		 </div>
	  </div>
	</div>

	<div class="row offset-s3">
		{% if dfa %}
			<p style="text-align: center; font-size: 25px;">DFA Id: {{ dfa.getId() }} Nodes Form</p>
	        <div id="mynetwork_dfa"></div>
        {% endif %}
    </div>

   	<div id="principal" class="container">
		<div id="showTable" class="row">
	 		{% if dfa %}
				<p style="text-align: center; font-size: 25px;">DFA Id: {{ dfa.getId() }} Tabular Form</p>

				<div class="row">
			   		<table class="striped centered responsive-table">
				  		<thead class="#0288d1 light-blue darken-2">
						<tr>
							<th class="white-text">State</th>

							{% for a in dfa.getAlphabet() %}
								<th class="white-text">{{ a }}</th>
							{% endfor %}
							<th class="white-text">Token</th> 
						</tr>
				  		</thead>
				  		<tbody>
					 		{% for i in dfa.getTable() %}
						   		<tr>
						   			<td><b> {{ loop.index - 1 }} </b></td>
						   			{% for j in i %}
							  			{% if j != -1 %}
								 			<td><b>{{ j }}</b></td>
							  			{% else %}
								 			<td>{{ j }}</td>
							  			{% endif %}
						   			{% endfor %}
						   		</tr>
					 		{% endfor %}
				  		</tbody>
			   		</table>
				</div>
		 	{% endif %}
	  	</div>
   	</div>
{% endblock %}