{% extends 'base/dashboard.html'%}
{% block content %}	

	<div class="container">
		<!-- SetToken -->
         <div id="SetToken" class="col s12">
               <div class="row file-field">
                  <form method="POST">
                  <p style="text-align: center; font-size: 25px;"> Set Token </p>
                  {% from "_macroInputs.html" import render_field %}
                  <div class="input-field col m4 s6 offset-m1">
                     <select name="nfa">
                        <option disabled selected>Choose 1st</option>
                        {% if nfaDictionary %}
                           {% for id, nfa in nfaDictionary.items() %}
                              {% if id > 0 %}
                                 <option value="{{ id }}"> {{ id }} </option>
                              {% endif %}
                           {% endfor %}
                        {% endif %}
                     </select>
                  </div>
                  <div class="input-field col m4 s6">
                     {{ render_field(addT.token) }}
                  </div>
                  <div class="input-field col m3 s12">
                     <button type="submit" class="waves-effect waves-light #0288d1 light-blue darken-2 btn-large"></i>Set Token</a>
                  </div>
               </form>
            </div>
         <div class="row offset-m3" id="mynetwork">
      </div>
	</div>
{% endblock %}