<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"/></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
	<script>
	  $(document).ready(function(){

     	$('select').formSelect();
	 	$('.dropdown-trigger').dropdown();
	 	$('select').not('.disabled').formSelect();

		{% if nfa %}
	        var nodesList = [];
	        var edgesList = [];
	        {% for e in nfa.getStates() %}
	            var border = 0;
	            {% if (e.getId() == nfa.getStart().getId()) %}
	                border = 2;
	            {% else %}
	            	{% for s in nfa.getAccepts() %}
	            		{% if (e.getId() == s.getId()) %}
	            			border = 6;
	            		{% endif %}
	            	{% endfor %}
	            {% endif %}

	            nodesList.push({
	                id: '{{e.getId()}}',
	                shape: 'circle',
	                borderWidth: border,
	                label: 'State\n{{e.getId()}}'
	            });

	            {% for t in e.getTransitions() %}
	                var symbol = "";
	                {% if t.getEndSymbol() != None %}
	                    symbol = '{{t.getSymbol()}} - {{t.getEndSymbol()}}';
	                {% else %}
	                    symbol = '{{t.getSymbol()}}';
	                {% endif %}
	                
	                edgesList.push({
	                    from: '{{e.getId()}}',
	                    to: '{{t.getNext().getId()}}',
	                    label: symbol,
	                    arrows: {
	                        to : {
	                            enabled: true,
	                            type: 'arrow'
	                        }
	                    },
	                });
	                
	            {% endfor %}
	        {% endfor %}

	        var nodes = new vis.DataSet(nodesList);
	        var edges = new vis.DataSet(edgesList);

	        var container = $('#mynetwork')[0]; 

	        var data = {
	            nodes: nodes,
	            edges: edges
	        };

	        var network = new vis.Network(container, data, {});
	    {% endif %}
	  });
	</script>
	<title>Compiler</title>
</head>
<body> 
   <nav>
      <div class="nav-wrapper #01579b light-blue darken-4">
         <a href="" class="brand-logo" style="padding-left: 50px;">Compiler</a>
         <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutUs">About us</a></li>
            <!-- Dropdown Trigger: ANALYSIS -->
            <li><a class="dropdown-trigger button" href="#" data-target="dropdown-analysis">Syntactic Analysis<i class="material-icons right">arrow_drop_down</i></a></li>
            <!-- Dropdown Trigger: CONVERT TO AFD -->
            <li><a class="dropdown-trigger button" href="#" data-target="dropdown-nfa">NFA Operations<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="/lexico">Lexic Analysis</a></li>
         </ul>
      </div>
   </nav>

   <ul id="dropdown-nfa" class="dropdown-content">
      <li><a href="/add">Add Basic NFA</a></li>   
      <li><a href="/join">Join</a></li>   
      <li><a href="/concat">Concatenate</a></li> 
      <li><a href="/positiveClosure">Positive Closure</a></li> 
      <li><a href="/kleeneClosure">Kleene Closure</a></li>
      <li><a href="/optional">? Optional</a></li>
      <li><a href="/setToken">Set Token</a></li>
      <li><a href="/specialJoin">Special Join</a></li>  
      <li><a href="/convertToDFA">Convert to DFA</a></li> 
   </ul>

   <ul id="dropdown-analysis" class="dropdown-content">
      <li><a href="#">NFA Syntactic</a></li>
      <li><a href="/LL(1)">LL(1) Analysis</a></li>
   </ul>
  {% block content %}
  {% endblock %}
</body>   
</html>
