<nav>
    <div class="nav-wrapper #01579b light-blue darken-4">
       <a href="" class="brand-logo" style="padding-left: 50px;">Compiler</a>
       <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <!-- Dropdown Trigger: ANALYSIS -->
          <li><a class="dropdown-trigger button" href="#" data-target="dropdown-analysis">Syntactic Analysis<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/lexic">Lexic Analysis</a></li>
          <!-- Dropdown Trigger: CONVERT TO AFD -->
          <li><a class="dropdown-trigger button" href="#" data-target="dropdown-nfa">NFA Operations<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/aboutUs">About us</a></li>
          <li>
            <a href="https://github.com/brokenerk/Compiladores" rel="noopener noreferrer" target="_blank">
                <i class="fa fa-github fa-3x"> </i>  
            </a>
          </li>
       </ul>
    </div>
 </nav>
 <ul id="dropdown-nfa" class="dropdown-content">
    <li><a href="/add">Add Basic NFA</a></li>   
    <li><a href="/join">Join</a></li>   
    <li><a href="/concat">Concatenate</a></li> 
    <li><a href="/positiveClosure">Positive Closure</a></li> 
    <li><a href="/kleeneClosure">Kleene Closure</a></li>
    <li><a href="/optional">? Optional</a></li>
    <li><a href="/setToken">Set Token</a></li>
    <li><a href="/specialJoin">Special Join</a></li>  
    <li><a href="/convertToDFA">Convert to DFA</a></li> 
 </ul>

 <ul id="dropdown-analysis" class="dropdown-content">
    <li><a href="/nfaSyn">NFA Syntactic</a></li>
    <li><a href="/LL(1)">LL(1) Analysis</a></li>
    <li><a href="/LR(0)">LR(0) Analysis</a></li>
    <li><a href="/LR(1)">LR(1) Analysis</a></li>
 </ul>