{% extends 'base/dashboard.html'%}
{% block content %}
	<script>
		{% if msg == 1 %}
			M.toast({
				html: 'DFA created successfully.',
				classes: 'green',
				displayLength: 5000
			})
		{% elif msg == 2 %}
			M.toast({
				html: 'Error with Regex.',
				classes: 'red',
				displayLength: 5000
			})
		{% endif %}

		$(document).ready(function(){
			{% if dfaER %}
				var nodesList = [];
		        var edgesList = [];
		        var state = 0;
		        {% for row in dfaER.getTable() %}
		            
		        	var border = 0;
		            var countNext = 1;
		            var rowLength = '{{row|length}}';

		            {% for next in row %}
		            	{% if next != -1 %}
		            		if(countNext != rowLength){
		            			
		            			var i = 0;
		            			var symbol = "";
		            			{% for a in dfaER.getAlphabet() %}
		            				if(i == countNext - 1){
		            					symbol = '{{a}}';
		            				}
		            				i++;
		            			{% endfor %}

					            edgesList.push({
				                    from: state,
				                    to: '{{next}}',
				                    label: symbol,
				                    arrows: {
				                        to : {
				                            enabled: true,
				                            type: 'arrow'
				                        }
				                    },
				               	});
			               	}
			               	else {
			               		border = 6;
			               	}
			            {% endif %}
			            countNext++;
		            {% endfor %}

		            if(state == 0){
		            	border = 2;
		            }

		            nodesList.push({
		                id: state,
		                shape: 'circle',
		                borderWidth: border,
		                label: 'State\n' + state
		            });

		            state++;
		        {% endfor %}

		        var nodes = new vis.DataSet(nodesList);
		        var edges = new vis.DataSet(edgesList);

		        var container = $('#mynetwork_dfa')[0]; 

		        var data = {
		            nodes: nodes,
		            edges: edges
		        };

		        var network = new vis.Network(container, data, {});
			{% endif %}
		});
	</script>

	<div class="container">
      	<div id="nfa" class="col s12">
            <form method="POST" enctype="multipart/form-data">
               {% from "_macroInputs.html" import render_field %}
               <p style="text-align: center; font-size: 25px;"> NFA Parsing </p>

               <div class="row file-field">
	               	<div class="offset-m1 input-field col m6 s12">
	               		{{ render_field(nfaF.regularExpressions) }}
	               	</div>
	               	<div class="col">
	               		<button type="submit" class="waves-effect waves-light light-blue darken-2 btn-large"><i class="material-icons right">text_rotation_none</i>Analyze</button>
	               	</div>
	               	<div class="col">
	               		<button class="waves-effect waves-light btn-large">
		                    <i class="material-icons right">attach_file</i>
		                    <input type = "file" id="loadER" accept="text/plain"/>
	                  	</button>
	               	</div>
	            </div>
	            <div class="row center">
	               	<!-- MODAL -->
	               	<a class="waves-effect waves-light btn-large modal-trigger pulse" href="#modal1">IMPORTANT</a>
	           </div>
            </form>
      	</div>
	</div>

	<div class="row offset-s3">
		{% if dfaER %}
			<p style="text-align: center; font-size: 25px;">DFA Id: {{ dfaER.getId() }} Nodes Form</p>
	        <div id="mynetwork_dfa"></div>
        {% endif %}
    </div>
	
	<div id="principal" class="container">
		<div id="showTable" class="row">
		   {% if dfaER %}
		  		<p style="text-align: center; font-size: 25px;">DFA Id: {{ dfaER.getId() }} Tabular Form</p>

	   			<div class="row">
			  		<table class="striped centered responsive-table">
				 		<thead class="light-blue darken-2">
							<tr>
					   			<th class="white-text">State</th>
  
					   			{% for a in dfaER.getAlphabet() %}
						  			<th class="white-text">{{ a }}</th>
					   			{% endfor %}
					   			<th class="white-text">Token</th> 
							</tr>
				 		</thead>
				 		<tbody>
							{% for i in dfaER.getTable() %}
					   			<tr>
						  			<td><b> {{ loop.index - 1 }} </b></td>
					  				{% for j in i %}
					  					{% if j != -1 %}
							 				<td><b>{{ j }}</b></td>
							 			{% else %}
							 				<td>{{ j }}</td>
							 			{% endif %}
						  			{% endfor %}
					   			</tr>
							{% endfor %}
				 		</tbody>
			  		</table>
		   		</div>
		   {% endif %}
		</div>
	</div>

	<!-- Modal Structure -->
	<div id="modal1" class="modal modal-fixed-footer">
	    <div class="modal-content">
	      	<h5>Regex and Token's Format</h5>
	      	<p>1.- You have to enter a regular expression as shown in the next picture:</p>
	      	<center>
				<img class="responsive-img" src="./../static/imgs/regexExample1.PNG">
			</center>
	      	<p>As you can see, first you have to write the <b>regular expression without spaces</b>, then you have to enter a <b>space</b> and finally it's very important to enter an <b>integer number representing a token</b> for the regular expression.</p>
	      	<p>2.- The supported operations and their respective special and reserved characters are:</p>
	      	<ul>
	      		<li><b>Concatenation/AND:</b> &
	      		<li><b>Join/OR:</b> |
	      		<li><b>Positive Closure:</b> +
	      		<li><b>Kleen Closure:</b> *
	      		<li><b>Optional:</b> ?
	      		<li><b>Dash:</b> -
	      		<li><b>Brackets:</b> []
	      		<li><b>Parenthesis:</b> ()
	      	</ul>

	      	<p>3.- If you want to set a range for symbols, such as numbers or the alphabet letter for example, you have to put the first and last symbol of this range inside brackets, for example: <b>[A-Z]</b> for capital letters.</p>

	      	<p>4.- If you want to use some of the reserved characters shown above, you have to put the character <b>"</b> before each one. In the picture above there's and example for characters <b>+</b> and <b>-</b>; for the moment, these are the only reserved characters that can be used.</p>

	      	<p>5.- If you want to put and merge more than one regular expression, you have to enter each one in a different line of the input, as shown in this picture:</p>
	      	<center>
				<img class="responsive-img" src="./../static/imgs/regexExample2.PNG">
			</center>

			<p>6.- You cand upload your own text file with all the regular expressions you wish by clicking on the button with the paperclip icon; it has to have all the format rules explained before.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class="modal-close waves-effect waves-light btn">Got it</a>
	    </div>
	</div>
{% endblock %}