{% extends 'base/dashboard.html'%}
{% block content %}	

	<div class="container">
		<div class="row">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img class="responsive-img" src="./../static/imgs/abii.jpg">
			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Abigail Nicolas Sayago</h5>
			      		<p>I participated as a <b>full stack developer</b>. Working on the front, I designed and programmed the NFA operations views and more details of the principal view, how to show the tables and make operations. Working on the back, I programmed the tables of the LL(1) and also, I programmed the displacements and rules reductions of the LR(0) with the tables of analysis as well as the analysis table of the LR(1).</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="https://github.com/abiisnn" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-github fa-3x"></i>
						</a>
						<a href="https://abiisnn.github.io/" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-globe fa-3x"></i>
						</a>
			    	</div>
			  	</div>
			</div>
		</div>

		<div class="row">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img class="responsive-img" src="./../static/imgs/enrike.jpg">
			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Enrique Ramos Diaz</h5>
			      		<p><b>Full stack developer.</b> As a front-end dev I designed the LL(1), LR(0/1) and LALR views, and the graphic form of the automatas using the vis.js library. I designed the NFA, Token, DFA, Lexer and Node classes; programmed the half of the NFA operations beside their DFA conversion; participated on the grammars generation; implemented LALR analysis and by last, the generation of the item sets on LR(0) and LR(1).</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="https://github.com/brokenerk" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-github fa-3x"></i>
						</a>
						<a href="https://brokenerk.github.io/" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-globe fa-3x"></i>
						</a>
			    	</div>
			  	</div>
			</div>
		</div>

		<div class="row">
			<div class="card horizontal">
			  	<div class="card-image">
					<img class="responsive-img" src="./../static/imgs/Randy.jpg">
			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Randy Villanueva Guzman</h5>
			      		<p>I worked as a <b>full stack developer</b>. On the front-end, I collaborated with the design of LL(1), NFA and Lexical Analysis views. On the back-end, I implemented half of the NFA operations, 
						programed Syntactic NFA and participated on the NFA, Token, DFA classes. Also, I developed the HOC (High Order Calculator) using YACC, according to the example found in The Unix Programming Environment book.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="https://github.com/RandyViG" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-github fa-3x"></i>
						</a>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>

{% endblock %}