{% extends 'base/dashboard.html'%}
{% block content %}

<div class="container">
	<div class="row">
		<h5>What's this?</h5>
		<p>This is an attempt to implement the first half of the components of a compiler. As you can see in the next image, there are 5 basic and essential stages in any compiler: </p>
		<center>
			<img class="responsive-img" src="./../static/imgs/compiler.jpg">
		</center>

		<p>In this web page, we implemented a <b>lexical analyzer, and 6 parsers</b>, that we explain in detail at the functionalities section.</p>

		<p>Also, we offer operations with <b>Non deterministic Finite Automatas (NFA)</b> such as: creation, concatenation, join, positive, Kleene and optional closure. Additionally, there's the possibility to assign tokens to each automata generated, in order to convert a NFA into a <b>Deterministic Finite Automata DFA</b>, that will generate a lexical analyzer (through their tabular representation), and consequently, its respective parsers.</p>
		
		<p>Each automata would be displayed in a graphic form like this:</p>

		<center>
			<img class="responsive-img" src="./../static/imgs/automata.jpg">
		</center>

		<p><b>This project was developed from august to december 2019 as part of the <i>Compilers</i> signature in ESCOM - IPN Mexico, taught by the teacher Andres Ortigoza.</b></p>

		<h5>Which functionalities offer and compilers topics integrate?</h5>
		<ul class="collection">
			<li class="collection-item"><i class="material-icons">check</i> Creation, operations and visualization of <b>Non deterministic Finite Automatas</b> </li>
			<li class="collection-item"><i class="material-icons">check</i> Conversion from Non deterministic Finite Automatas to <b>Deterministic Finite Automatas</b> and visualization of its tabular form</li>
			<li class="collection-item"><i class="material-icons">check</i> <b>Lexical Analysis</b> of Deterministic Finite Automatas through tokens</li>
			<li class="collection-item"><i class="material-icons">check</i> Creation of Deterministic Finite Automatas and Grammars using <b>recursive descent analysis</b></li>
			<li class="collection-item"><i class="material-icons">check</i> Grammars and strings parsers using <b>LL(1), LR(0), LR(1) and LALR analysis</b></li>
		</ul>

		<h5>Who made this?</h5>
		<p>See the <a href="/aboutUs">About Us</a> section to know more about the developers behind this project.</p>

		<h5>How to use this?</h5>
		<p>In each section there's a button with the caption <b>Important</b>. If you click on it, it will display the instructions of how to enter grammars, strings, tokens and symbols, depending of the functionalities of each section.</p>

		<h5>Can I access to the codes used on this project?</h5>
		<p>Full documented back-end and front-end code (in English) is available for everyone through a Github repository. You can access to them by clicking on the Github icon located on the right side of the navigation bar above, or via <a href="https://github.com/brokenerk/Compiladores" target="_blank">this link</a></p>
	</div>
</div>

{% endblock %}
