{% extends 'base/dashboard.html'%}
{% block content %}	

	<div class="container">
		<br>
		<div class="col s12 m7">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img src="./../static/imgs/default.jpg">

			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>About this Project</h5>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="#">This is a link</a>
			    	</div>
			  	</div>
			</div>
		</div>

		<div class="col s12 m7">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img src="./../static/imgs/">
			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Abigail Nicolas Sayago</h5>
			      		<p>I participated as a Front and Back developer. Working with the Front, I desingned and programmed the NFA operations views and more details of the principal view, how to show the tables and make operations. Working with the Back, I programmed the tables of the LL1 and also, I programmed the displacements and rules of the LLR0 with the tables of analysis as well as the analysis table of the LLR1.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="https://github.com/abiisnn" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-github fa-3x"></i>
						</a>
						<a href="https://abiisnn.github.io/" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-user fa-3x"></i>
						</a>
			    	</div>
			  	</div>
			</div>
		</div>

		<br>
		<div class="col s12 m7">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img src="./../static/imgs/default.jpg">
			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Randy Guzman</h5>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="https://github.com/RandyViG" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-github fa-3x"></i>
						</a>
			    	</div>
			  	</div>
			</div>
		</div>

		<br>
		<div class="col s12 m7">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img src="./../static/imgs/enrike.jpg">
			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Enrique Ramos Diaz</h5>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="https://github.com/brokenerk" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-github fa-3x"></i>
						</a>
						<a href="https://brokenerk.github.io/" rel="noopener noreferrer" target="_blank">
							<i class="fa fa-user fa-3x"></i>
						</a>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>

{% endblock %}