{% extends 'base/dashboard.html'%}
{% block content %}	

	<div class="container">
		<br>
		<div class="col s12 m7">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img src="./../static/imgs/default.jpg">

			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>About this Project</h5>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="#">This is a link</a>
			    	</div>
			  	</div>
			</div>
		</div>

		<div class="col s12 m7">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img src="./../static/imgs/default.jpg">

			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Abigail Nicolas Sayago</h5>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="#">This is a link</a>
			    	</div>
			  	</div>
			</div>
		</div>

		<br>
		<div class="col s12 m7">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img src="./../static/imgs/default.jpg">

			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Randy Guzman</h5>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="#">This is a link</a>
			    	</div>
			  	</div>
			</div>
		</div>

		<br>
		<div class="col s12 m7">
			<div class="card horizontal">
			  	<div class="card-image">
			    	<img src="./../static/imgs/enrike.jpg">
			  	</div>
			  	<div class="card-stacked">
			    	<div class="card-content">
			      		<h5>Enrique Ramos Diaz</h5>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			      		<p>I am a very simple card. I am good at containing small bits of information.</p>
			    	</div>
			    	<div class="card-action">
			      		<a href="#">This is a link</a>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>

{% endblock %}