{% extends 'base/dashboard.html'%}
{% block content %}

	<div class="container">
		<div class="row">
			<h5>What's this?</h5>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

			<h5>Which functionalities offer and compilers topics integrate?</h5>
			<ul class="collection">
				<li class="collection-item"> Creation, operations and visualization of <b>Non deterministic Finite Automatas</b> </li>
				<li class="collection-item"> Conversion from Non deterministic Finite Automatas to <b>Deterministic Finite Automatas</b> and visualization of its tabular form</li>
				<li class="collection-item"> <b>Lexical Analysis</b> of Deterministic Finite Automatas through tokens</li>
				<li class="collection-item"> Creation of Deterministic Finite Automatas and Grammars using <b>recursive descent analysis</b></li>
				<li class="collection-item"> Grammars and strings parsers using <b>LL(1), LR(0), LR(1) and LALR analysis</b></li>
			</ul>

			<h5>Who made this?</h5>
			<p>See the <a href="/aboutUs">About Us</a> section to know more about the developers behind this project.</p>

			<h5>How to use this?</h5>
			<p>In each section there's a button with the caption <b>Important</b>. If you click on it, it will display the instructions of how to enter grammars, strings, tokens and symbols, depending of the functionalities of each section.</p>

			<h5>Can I access to the codes used on this project?</h5>
			<p>Full documented back-end and front-end code (in English) is available for everyone through a Github repository. You can access to them by clicking on the Github icon located on the right side of the navigation bar above, or via <a href="https://github.com/brokenerk/Compiladores" target="_blank">this link</a></p>
		</div>
	</div>

{% endblock %}
