{% extends 'base/dashboard.html'%}
{% block content %}
	<div class="container">
		<div id="lexic" class="col s12">
			<form method="POST" enctype="multipart/form-data">
				{% from "_macroInputs.html" import render_field %}
				<p style="text-align: center; font-size: 25px;"> Lexic Analysis </p>
				<div class="row file-field">
					<div class=" offset-s1 input-field col s5">
						{{ render_field(lex.string) }}
					</div>
					<div class="input-field col s2">
						<select name="dfa">
							<option disabled selected>Choose 1st</option>
								{% if dfaDictionary %}
									{% for id, nfa in dfaDictionary.items() %}
										{% if id > 0 %}
											<option value="{{ id }}"> {{ id }} </option>
										{% endif %}
									{% endfor %}
							   {% endif %}
						</select>
					</div>

					<div class="col">
	               		<button type="submit" class="waves-effect waves-light #0288d1 light-blue darken-2 btn-large"><i class="material-icons right">text_rotation_none</i>Analyze</button>
	               	</div>
	               	<div class="col">
	               		<button class="waves-effect waves-light btn-large">
		                    <i class="material-icons right">attach_file</i>
		                    <input type = "file" id="loadString" accept="text/plain"/>
	                  	</button>
	               	</div>
				</div>

			</form>
		</div>
	</div>

	{% if lexemes %}
	<div id="principal" class="container">
		<div id="showTable" class="row">
			<p style="text-align: center; font-size: 25px;"> Lexemes </p>
			<script type="text/javascript">
				document.getElementById('ConvertToDFA').style.display = "none";
			</script>
		</div>
		<div class="row">
			<table class="striped centered responsive-table">
				<thead class="#0288d1 light-blue darken-2">
					<tr>		
						<th class="white-text">Token</th>
						<th class="white-text">Lexem</th>
					</tr>
				</thead>
				<tbody>
					{% for lex in lexemes %}
					<tr>
						{% for l in lex %}
							 <td>{{ l }}</td>
						{% endfor %}	
					</tr>					   
					{% endfor %}
				 </tbody>
			  </table>
		   </div>
		</div>
	</div>
	{% endif %}
{% endblock %}